.phase-editor{
    margin-top: 30px;
}

.phase-editor .menu-action{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.phase-editor .menu-action .action{
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}


.phase-editor .menu-action .action span{
    margin-right: 10px;
    color: #C1C1C1;
}

.phase-editor .menu-action .action svg{
    stroke: #C1C1C1;
}

.phase-editor .menu-action .action:hover span{
    color: #8FC102;

}
.phase-editor .menu-action .action:hover svg{
    stroke: #8FC102;
    
}

.running .phase-editor .menu-action .action.start{
    display: none;
}
.phase-editor .menu-action .action.stop{
    display: none;
}
.running .phase-editor .menu-action .action.stop{
    display: flex;
}

.phase-editor .menu-action .balloon{
    display: none;
    position: absolute;
    bottom: 0px;
    transform: translate(0, calc(100% + 15px));
    z-index: 1;

    max-width: 30em;
    width: 300px;
    
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);    
    
}

.phase-editor .menu-action .balloon::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    right: 1.5em; 
    border: .75rem solid transparent;
    border-top: none;

    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.phase-editor .menu-action .balloon .close-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;

    top:-8px;
    left:-8px;

    font-size: 12px;
    background-color: #fff;
    color: #016ed0;
    border: solid 1.5px #016ed0;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}
.phase-editor .menu-action .balloon input{
    margin:5px 0px;
    border: solid thin #c1c1c1;
}

.phase-editor .menu-action .balloon .select{
    width: 100%;
    margin:5px 0px;
    border: solid thin #c1c1c1;
}

.phase-editor .menu-action .balloon .select::after{
    top: -4px;
}
.phase-editor .menu-action .balloon button{
    margin:5px 0px;
}
.phases-canvas{
    margin-top: 100px;
}

.phases-canvas .phase{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 70px;
    padding: 18px 30px 30px 30px;
    
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
}

.phases-canvas .phase.alt{
    background: rgba(196, 196, 196, 0.12);
    border: 1px solid #D4D4D4;
}

.phases-canvas .phase:not(:first-of-type){
    margin-top: 220px;
}

.phases-canvas .phase:not(:first-of-type):before{
    content:'';
    display: block;
    position: absolute;
    height: 120px;
    width: 2px;
    top: -160px;
    left: 50%;
    
    border-radius: 2px;
    background-color: #dfdfdf;
}

.phases-canvas .phase:last-of-type{
    margin-bottom: 120px;
}

.phases-canvas .phase .upper-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top:-22px;
    right: 0px;
}

.running .phases-canvas .phase .upper-menu{
    display: none;
}


.phases-canvas .phase .status{
    display: none;
    position: absolute;
    
    top:-28px;
    
    color: #626262;
    font-size: 17px;
}

.phases-canvas .phase.done .status{
    display: block;
}
.phases-canvas .phase .status.ok{
    color: #8FC102;
}
.phases-canvas .phase .upper-menu .btn{
    margin: 0 4px;
}

.phases-canvas .phase .upper-menu .btn.edition{
    display: none;
}

.phases-canvas .phase.alt .upper-menu .btn.edition{
    display: block;
}

.phases-canvas .phase.alt .upper-menu .btn:not(.edition){
    display: none;
}

.phases-canvas .phase .upper-menu .btn svg{
    stroke:#C1C1C1;
}

.phases-canvas .phase .title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    color: #626262;
    font-size: 20px;
    border: none;
    text-transform: capitalize;
}

.phases-canvas .phase .title>div{
    min-width: 30px;
    margin-right: 4px;
}

.phases-canvas .phase.alt .title>div{
    border: solid thin #626262;
    border-radius: 3px;
    background-color: #fff;
}

.phases-canvas .phase .description{
    margin-top: 20px;
    margin-left: 15px;

    color: #626262;
    font-size: 18px;
    background-color: #fff;
    outline: none;
    border: none;
}

.phases-canvas .phase.alt .description{
    border: solid thin #626262;
    border-radius: 3px;
    background-color: #fff;
}

.phases-canvas .phase .object{
    margin-top: 15px;
    margin-left: 15px;
    
    font-family: 'Courier New';
    color: #C1C1C1;
    font-size: 16px;
    
    border: none;
    overflow: hidden;
    resize: none;
}

.phases-canvas .phase .object:disabled{
    background-color: transparent;
}

.phases-canvas .phase.alt .object{
    min-height: 200px;
    border: solid thin #626262;
    border-radius: 3px;
}

.phases-canvas .phase .react-tags-wrapper{
    margin-top: 15px;
    margin-left: 15px;
}

.phases-canvas .phase .react-tags-wrapper .ReactTags__tagInputField{
    display: none;
    border: solid thin #626262;
}

.phases-canvas .phase.alt .react-tags-wrapper .ReactTags__tagInputField{
    display: block;
}

.phases-canvas .phase .react-tags-wrapper .ReactTags__selected{
    display: flex;
    flex-wrap: wrap;
}
.phases-canvas .phase .react-tags-wrapper .ReactTags__tag{
    display: flex;
    width: fit-content;
    min-width: 20px;
    margin: 2px 2px;
}
.phases-canvas .phase .react-tags-wrapper .ReactTags__tag .ReactTags__remove{
    display: none;
}

.phases-canvas .phase.alt .react-tags-wrapper .ReactTags__tag .ReactTags__remove{
    display: block;
}

.phases-canvas .phase .modified{
    position: absolute;
    bottom: -20px;
    right: 0px;
    color: #C1C1C1;
    font-size: 13px;
    margin-right: 10px;
}


.phase-editor .new-phase{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.phase-editor .new-phase::before{
    content:'';
    display: block;
    position: absolute;
    height: 60px;
    width: 2px;
    top: -95px;
    left: 50%;
    
    border-radius: 2px;
    background-color: #dfdfdf;
}

.running .phase-editor .new-phase{
    display: none;
}

.phase-editor .new-phase .selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.phase-editor .new-phase .selector span{
    color: #626262;
}

.phase-editor .new-phase .selector .select {
    height: 30px;
    margin-left: 5px;
    border-radius: 0;
    border-bottom: solid 1.5px #c1c1c1;
}
.phase-editor .new-phase .selector .select select{
    text-align-last:center;
}

.phase-editor .new-phase .selector .select::after{
    top: -7px;
}



.phase-editor .new-phase form{
    background: rgba(196, 196, 196, 0.12);
    border: 1px solid #D4D4D4;

    margin-top: 30px;
    border-radius: 3px;
    padding: 15px;
}  


.phase-editor .new-phase form input,
.phase-editor .new-phase form textarea{
    margin:10px 0px;
}

.phase-editor .new-phase .new-phase-board {
    display: none;
}
.phase-editor .new-phase .new-phase-board .menu-btns{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}

.phase-editor .new-phase .new-phase-board .menu-btns button{
    width: 120px;
    margin: 10px;
}

