#left-menu{
    display: flex;
    width: 90px;
    height: 100vh;
    background-color: #FBFBFB;
    border-right: solid 1px #DEDEDE;
    flex-direction: column;
}

#left-menu .logo{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #DEDEDE;
}

#left-menu .logo img{
    margin-left:auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}

#left-menu .menu-grp{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

#left-menu .menu-grp .menu-item{
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    height: 50px;

    margin: 15px 5px;
}

#left-menu .menu-grp .menu-item svg{
    margin: 0 auto;
    stroke: #d4d4d4;
    cursor: pointer;
}

#left-menu .menu-grp .menu-item svg:hover{
    stroke: #77A102;
}

#left-menu .menu-grp .menu-item .notification-icon{
    position: absolute;
    display: none;
    height: 15px;
    width: 15px;
    
    bottom:5px;
    right: 20px;

    border: solid 1px #77A102;
    border-radius: 50%;
    transform: rotate(90deg);
    background-color: #B6D06E;
}

#left-menu .menu-grp .menu-item .notification-icon svg{
    position: relative;
    top:-1px;
    stroke: #77A102;
    stroke-width: 5px;
    transform: scale(0.6);
}
